# Dependencies
node_modules/

# Build output
dist/
.next/

# Environment variables
.env
.env.*
.env.local
.env.production

# Vercel
.vercel

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo
